includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  phpVersion: 80100
  level: max
  paths:
    - ./bin
    - ./src
    - ./scripts
    - ./tests

  bootstrapFiles:
    - ./vendor/autoload.php

  ignoreErrors:
    - message: '`Call to an undefined method Velkuns\\ArtifactsMMO\\Client\\AbstractClient::getEndpoint.+`'
      path:    './tests/unit/Client/CommonClientTest.php'
    - message: '`.*`'
      path:    './scripts/Builder/Printer/CustomStandard.php'
